<div id="reservations" class="modal-content">
    <div class="modal-body">
        <div class="modalDiv">
            <div ng-repeat="reservation in reservationList" class="reservationDiv">
                <reservation reservation="reservation"></reservation>
            </div>    
                <div style="width:100%">&nbsp;</div>
            <!--div class="addReservationDiv"><a style="margin:2%; font-size:139%" href="#" ng-click="addReservations()"><span class="glyphicon glyphicon-plus-sign"></span></a><a class="addReservation" ng-click="addReservations()" ng-href=" #">הוסף הזמנה</a></!--div-->
            </div>
    </div>
</div>
